body {
  background-color: beige;
  font-family: "Sniglet", cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 100%;
  margin: 0px;
}

h1 {
  font-size: 80px;
  text-align: center;
  color: whitesmoke;
  width: 80%;
  height: auto;
  background-color: gray;
  margin: auto;
  margin-top: 25px;
  margin-bottom: 25px;
  border-radius: 10px;
}

.divAsanasContainer {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.divAsanasContainer .asanaContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: auto;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  background-color: whitesmoke;
  margin-top: 15px;
  border-radius: 10px;
  width: 90%;
}
.divAsanasContainer .asanaContainer img {
  margin: 10px;
  width: 30%;
  border-radius: 10px;
}
.divAsanasContainer .asanaContainer .namesContainer {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 15px 0px 15px 0px;
}
.divAsanasContainer .asanaContainer .namesContainer .name {
  font-size: 25px;
  margin: 5px;
  color: hotpink;
}
.divAsanasContainer .asanaContainer .namesContainer .english {
  color: black;
}
.divAsanasContainer .asanaContainer .namesContainer .intro {
  color: gray;
  font-size: 15px;
}
.divAsanasContainer .asanaContainer .namesContainer button {
  background-color: pink;
  border: 0px;
  border-radius: 5px;
  width: 100px;
  font-family: "Sniglet", cursive;
  color: grey;
  cursor: pointer;
}

.modal {
  background-color: whitesmoke;
  position: absolute;
  margin-left: auto;
  margin-top: 100px;
  width: 80%;
  height: auto;
  z-index: 3;
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  border: solid pink 10px;
}
.modal .close {
  color: grey;
  margin-left: 97%;
  cursor: pointer;
}

.container {
  display: flex;
  height: 230px;
  justify-content: space-around;
}
.container img {
  height: auto;
}
.container .poseNames {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.container .poseNames .name {
  margin: 0%;
  text-align: center;
}
.container .poseNames h3 {
  color: hotpink;
}
.container .poseNames .poseInformation {
  display: flex;
  justify-content: center;
  text-align: justify;
}
.container .poseNames .poseInformation .info {
  width: 50%;
  margin: 10px;
}
.container .poseNames .poseInformation .info span {
  font-size: 10px;
}
.container .poseNames .poseInformation .info .benefits {
  color: #149614;
}
.container .poseNames .poseInformation .info .contraindications {
  color: red;
}

.details {
  display: flex;
  flex-direction: column;
}
.details .instructions {
  width: 90%;
  margin: 10px;
}
.details .instructions ul {
  font-size: 13px;
}

h4 {
  margin: 0%;
  color: grey;
}

.overlay {
  background-color: grey;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0.5;
  z-index: 1;
  width: 100%;
  height: 100%;
}

.back {
  border: 0px;
  border-radius: 5px;
  width: 100px;
  cursor: pointer;
  font-family: "Sniglet", cursive;
  justify-content: center;
  color: grey;
}

.scrollTop {
  margin-left: 50%;
  margin-top: 5px;
  width: 30px;
  height: 30px;
  background-color: grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.scrollTop .fa-chevron-up {
  color: white;
}

/*# sourceMappingURL=levels.css.map */
